.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #66ccff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 5px solid #212429;
    border-bottom: 5px solid #212429;
  }